body {
    background: #158587;
    text-align: center;
    color: #FFF;
    font-family: Fira Mono;
    font-size: 16px;
}

h1 {
    font-family: Rubik Mono One;
    font-size: 24px;
    padding-top: 120px;
    padding-bottom: 20px;
}

.banner {
    padding-bottom: 20px;
}

.form-container {

    #search-bar {
        width: 340px;
    }
}

.results-list {
    list-style-type: none;
    padding-top: 20px;
}

li:hover {
    color: #F993C5;
    cursor: pointer;
}

/* styling for slideshow page */
 .slideshow-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

/* CSS for styling images */
.slide-image {
    max-width: 400px;
    height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}
.prev {
    left: -40px;
}
.next {
  right: -40px;
}