<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>
 <h1>Cat Music Video Generator</h1>
  <div class="slideshow-container">
        <div id="slideshow"></div>
    </div>
<!--    <script>-->
<!--        // JavaScript code to create the slideshow-->
<!--        const lyricsData = {{ lyrics }};-->
<!--        const imageData = {{ images }};-->
<!--        const slideshowContainer = document.getElementById('slideshow');-->

<!--        Object.keys(lyricsData).forEach(lineNumber => {-->
<!--            const slide = document.createElement('div');-->
<!--            slide.className = 'mySlides';-->

<!--            // Check if there's an image for this line, use default if not-->
<!--            const imageUrl = imageData[lineNumber] || '/static/images/headphone_cat.png';-->

<!--            slide.innerHTML = `-->
<!--                <img class="slide-image" src="${imageUrl}" alt="Image for line ${lineNumber}">-->
<!--                <p>${lyricsData[lineNumber]}</p>-->
<!--            `;-->

<!--            slideshowContainer.appendChild(slide);-->
<!--        });-->

<!--        // You can add JavaScript for slideshow functionality (e.g., next/prev buttons) here.-->
<!--    </script>-->
</body>
</html>